body{
/*	background-image: url(../images/turntable.jpg);
	background-repeat: no-repeat;
	background-position: center center;*/
	background-color: black;
	font-size: 20px;
	/*font-family: 'Open Sans';*/
	color:white;
}
a{
	border-color: white !important;
	color: white !important;
	text-decoration: none;
}
a:hover{
	color: black !important;
	background-color: white !important;
}

#search-container{
	transition: margin-top 0.5s ease;
	margin-top: 2em;
	text-align: center;
}
#search{
	color: white;
	font-size: 2em;
	background-color: black;
	border:none;
	height: 2em !important;
	margin-bottom: 0;
}

.spot-input-container{
	margin-top: 10em;
	text-align: center;
}
.spot-input {
	color: white !important;
	background-color: black !important;
}

#home{
	 transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.search-result:first-child {
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.search-result {
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.search-result:hover {
	color: black;
	background-color: white;
}

.search-result:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

 #header {
    width:  100%;
    display: block;
    clear: both;
    text-align: center;
    margin-top: 2em;
}

/*for google api autocomplete */
.pac-item {
	/*background-color: black;*/
	/*color: white;*/
}

.pac-icon {
	display: none;
}
